<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NASA Image Of The Day
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="imageData; else loading">
    <ion-card>
      <img [src]="imageData.url" alt="NASA Image Of The Day" />
      <ion-card-header>
        <ion-card-title>{{ imageData.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ imageData.explanation }}</p>
        <p><strong>Date:</strong>{{ imageData.date }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>